Value AP_NAME (AP-\w{3}-.{8}\b)
Value INT (GigabitEthernet0)
Value STATUS (UP|DOWN)
Value SPEED (\d+\sMbps)
Value DUPLEX (\S+)

Start
  ^AP Name\s:\s${AP_NAME}
  ^${INT}\s*${STATUS}\s*${SPEED}\s*${DUPLEX} -> Record
  ^.+\.+
  ^\s*$$
  ^AP\s+Name\s+Interface\s+Status\s+Speed\s+Duplex\s*$$
  ^-+
  ^. -> Continue